* {
    box-sizing: border-box;
    margin: 0;
}

main {
    height: 100vh;
    display: flex;
    background-color: rgb(92, 92, 117);
    justify-content: center;
    align-items: center;
}

body {
    text-align: center;
    font-family: helvetica;
}

header {
    background-color: chocolate;
    border-bottom: 4px solid black;
    width: 100%;
    padding: 20px;
}

#board {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 980px;
    border: 2px solid black;
    border-radius: 8%;
    background-color: chocolate;
    padding: 10px;
}

#player-one, #player-two {
    display: flex;
    justify-content: space-around;
}

.pod {
    height: 140px;
    width: 110px;
    border: 2px solid rgb(100, 57, 31);
    border-radius: 40%;
    margin: 5px;
    background-color: rgba(122, 83, 32, 0.6);
    cursor: pointer;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 25px;
}

.mancala {
    /* display: flex;
    flex-wrap: wrap; */
    height: 300px;
    width: 180px;
    background-color: rgb(100, 57, 31);
    border: 2px solid black;
    border-radius: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

img {
    width: 20px;
    height: 20px;
}
