* {
    box-sizing: border-box;
    margin: 0;
}

main {
    background-color: rgb(92, 92, 117);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

body {
    text-align: center;
    background-color: rgb(92, 92, 117);
    font-family: 'Rubik', sans-serif;
}

header {
    border-bottom: 4px solid black;
    font-size: 20px;
    display: flex;
    align-self: center;
    justify-content: center;
    width: 100%;
    background: url(https://i.imgur.com/ayf0nKg.jpg);
}

h1 {
    font-size: 80px;
    color: black;
    letter-spacing: 0.1em;
}

section {
    background-color: rgb(92, 92, 117);
    color: chocolate;
    letter-spacing: 0.1em;
    text-shadow: 1px 1px black;
}

#board {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    border-radius: 50px;
    background: url(https://i.imgur.com/ayf0nKg.jpg);
    padding: 8px;
    width: 1050px;
}

h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 35px;
    font-family: helvetica;
}

#all-players {
    pointer-events: none;
}

#player-one, #player-two {
    display: flex;
    justify-content: space-around;
}

.pod {
    /* height: 170px;
    width: 130px; */
    height: 160px;
    width: 120px;
    border: 2px solid black;
    border-radius: 40%;
    margin: 5px;
    background: url(https://i.imgur.com/3c1pCsV.jpg) no-repeat center top;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    padding: 35px;
    cursor: pointer;
    pointer-events: all;
}

.mancala {
    height: 340px;
    width: 110px;
    background: url(https://i.imgur.com/3c1pCsV.jpg) no-repeat center top;
    border: 2px solid black;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}

img {
    width: 20px;
    height: 20px;
    pointer-events: none;
}

button {
    height: 70px;
    width: 200px;
    border-radius: 25px;
    font-size: 25px;
    background-color: black;
    outline: none;
    cursor: pointer;
    color: chocolate;
    margin-top: 10px;
    border: 2px solid chocolate;
}

#restart-game {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

button:hover {
    background: url(https://i.imgur.com/ayf0nKg.jpg);
    color: black;
    border: 2px solid black;
}

#scoreboard {
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 15px;
    width: 150px;
    height: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
    background: url(https://i.imgur.com/ayf0nKg.jpg);
    border-radius: 15px;
    padding: 10px;
}

h4 {
    border-bottom-color: black;
    text-decoration: underline;
    font-size: 20px;
}

#pl1 {
    padding: 2px;
}

@media (max-width: 1050px) {
    #board {
        width: 800px;
        height: 290px;
    }

    .pod {
        height: 130px; 
        width: 90px;
        margin: 3px;
        padding: 25px;
    }

    .mancala {
        height: 265px;
    }

    img {
        width: 15px;
        height: 15px;
    }
}

@media (max-width: 800px) {
    #board {
        width: 500px;
        height: 200px;
        border-radius: 30px;
    }

    .pod {
        height: 92px; 
        width: 57px;
        margin: 2px;
        padding: 12px;
        border-radius: 35%;
    }

    .mancala {
        height: 185px;
        padding: 2px;
        margin: 2px;
    }

    img {
        width: 10px;
        height: 10px;
    }

    #scoreboard {
        border: 2px solid black;
        font-size: 12px;
        width: 100px;
        margin-top: 5px;
        margin-bottom: 5px;
        border-radius: 10px;
        padding: 5px;
    }

    h4 {
        border-bottom-color: black;
        text-decoration: underline;
        font-size: 15px;
    }

    button {
        height: 50px;
        width: 150px;
        border-radius: 20px;
        font-size: 15px;
        margin-top: 10px;
    }
}

@media (max-width: 500px) {
    #board {
        width: 370px;
        height: 180px;
        border-radius: 25px;
    }

    .pod {
        height: 69px; 
        width: 40px;
        margin: 2px;
        padding: 10px;
        border-radius: 30%;
    }

    .mancala {
        height: 145px;
        padding: 2px;
        margin: 2px;
    }

    img {
        width: 8px;
        height: 8px;
    }
}